@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --chart-grid: #e5e7eb;
  --chart-tick: #9ca3af;
  --tooltip-bg: #ffffff;
  --tooltip-border: #e5e7eb;
  --tooltip-text: #111827;
}

.dark {
  --chart-grid: #1f2937;
  --chart-tick: #4b5563;
  --tooltip-bg: #111827;
  --tooltip-border: #1f2937;
  --tooltip-text: #e5e7eb;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
}
